.header {
    text-align: center;
    margin-top: 7vw;
    font-size: 50px;    
}

.title {
    border-bottom: 3px solid purple;
}

.test{
    transform: translate(-5px, 10px);
}

.listitem {
    padding: 2px 16px;
    background-color: rgba(128, 0, 128, .4);
    margin: 20px 30px;
    border: 1px solid purple;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.top {
    border: 3px solid blue;
    background-color: rgba(128, 0, 128, .55);
}

.listitem:hover {
    background-color: rgba(128, 0, 128, .85);
    color: rgba(255, 255, 255, .85);
}

.employee {
    background-color: rgba(128, 0, 128, .3);
    border: 1.5px solid purple;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}

.avatar {
   border-radius: 10px;
}

.button {
    background-color: rgba(128, 0, 128, .9);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    background-color: purple;
}

.input {
    margin-bottom: 20px;
}

.slogan {
    text-align: center;
}