.header {
    text-align: center;
    margin-top: 7vw;
    font-size: 50px;    
}

.title {
    border-bottom: 3px solid blueviolet;
}

.listitem {
    padding: 2px 16px;
    background-color: rgba(137, 43, 226, .4);
    margin: 20px 30px;
    border: 1.5px solid blueviolet;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.top {
    border: 3px solid blue;
    background-color: rgba(137, 43, 226, .6);
}

.listitem:hover {
    background-color: rgba(137, 43, 226, .85);
    color: rgba(255, 255, 255, .85);
}

.employee {
    background-color: rgba(137, 43, 226, .3);
    border: 1.5px solid blueviolet;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}

.button {
    background-color: rgba(137, 43, 226, .9);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    background-color: blueviolet;
}

.input {
    margin-bottom: 20px;
}

.label {
    margin-left: 30px;
}

.dropdown {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .header {
        font-size: 30px;
        margin-top: 40px;
    }

    .employee {
        margin-top: 40px;
    }
}